body{
    text-align: center;
    font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
.pr2{
    align-self: center;
}
img{
    height: 80px;
    width: 80px;
    padding: 1px;
    align-self: center;
    border-radius: 50%;
}

.column {
  float: left;
  width: 18%;
  padding: 0 10px;
}

.row {
    align: center;
}

.card {
  box-shadow: 4px 4px 8px 4px;
  padding: 16px;
  text-align: center;
    color: grey;
    transition: 0.3s;
    
}
.pr2{

width: 100%;
}

p{
    color: black;
}

h4{
    color: black;
}